.container {
  background: var(--color-secondary);
  font-family: var(--font-headline);
}

.container h2 {
  text-align: left;
}

.services {
  background-color: white;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  row-gap: 1rem;
  text-transform: capitalize;
}

.services a {
  background-color: var(--color-tertiary);
  width: 8rem;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  color: var(--color-primary);
}

.items {
  display: grid;
  justify-content: space-evenly;
  grid-template-rows: auto;
  row-gap: 2px;
  padding: 10px;
  margin: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .services {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
  }
}

@media screen and (max-width: 500px) {
  .services {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20%;
  }

  .services a {
    height: 1.5rem;
  }
}
