.main {
  background-image: url('https://images.unsplash.com/photo-1535732759880-bbd5c7265e3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29uc3RydWN0aW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.7rem;
  font-family: var(--font-headline);
  height: 90vh;
}

.container {
  max-width: 700px;
  width: 100%;
  color: var(--color-secondary);
  padding: 25px 30px;
  border-radius: 5px;
  background-color: hsla(201deg 100% 6% / 60%);
}

.container .title {
  color: var(--color-secondary);
  font-size: 2rem;
  font-weight: 400;
  position: relative;
}

.container .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.2rem;
  width: 5rem;
  background: var(--color-tertiary);
}

.container form .partnerDetails {
  display: flex;
  gap: 0;
  flex-direction: column;
  margin: 20px 0 12px;
}

form .btn input {
  height: 2.5rem;
  width: 46%;
  outline: none;
  color: var(--color-primary);
  border: none;
  background: var(--color-tertiary);
  font-family: var(--font-headline);
  font-weight: 500;
  border-radius: 40px;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.partnerDetails .inputBox input {
  height: 2.5rem;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ededed;
  padding-left: 1rem;
  font-size: 1rem;
  border-bottom-width: 2px;
  transition: all 0.3 ease;
}

form .btn input:hover {
  background: var(--color-primary);
  color: var(--color-tertiary);
}

form .partnerDetails .inputBox {
  margin-bottom: 1rem;
  width: calc(100% / 2 - 20px);
}

.partnerDetails .inputBox .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--color-tertiary);
}

.partnerDetails .inputBox input:focus,
.partnerDetails .inputBox input:valid {
  border-color: var(--color-tertiary);
}

.inputBox p {
  margin: 0;
}

form .btn {
  height: 3rem;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    height: 85%;
    color: var(--color-secondary);
    padding: 40px;
    border-radius: 5px;
    padding-top: 0;
  }

  form .partnerDetails .inputBox {
    margin-bottom: 1rem;
    width: calc(100% / 1 - 20px);
  }

  .container .title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0;
  }

  form .partnerDetails p {
    margin: 0;
    padding: 1rem;
  }

  form .btn {
    width: 60%;
    height: 3rem;
    margin: -40px;
    padding-left: 2.5rem;
    padding-top: 4rem;
  }

  form .btn input {
    height: 2.5rem;
    width: 200%;
    font-weight: 500;
  }
}
