.welcome {
  background-color: var(--color-secondary);
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.container img {
  height: 100%;
  width: 100%;
}

.welcome button {
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 780px) {
  img {
    display: grid;
    grid-template-rows: 50% 50%;
  }
}
