.heading {
  text-align: center;
  color: var(--color-primary);
  text-transform: uppercase;
  padding: 1rem;
  font-size: 3.5rem;
}

.heading span {
  color: var(--color-tertiary);
  text-transform: uppercase;
}

.category {
  height: 100%;
  width: 100%;
}

.category .boxContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1rem;
  padding-right: 100px;
}

@media (max-width: 1300px) {
  .category .boxContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}

@media (max-width: 950px) {
  .category .boxContainer {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 500px) {
  .heading {
    font-size: 2rem;
  }

  .category .boxContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}
