section {
  background: white;
}

.title {
  text-align: center;
  text-transform: capitalize;
  color: var(--color-tertiary);
  margin: 10px 0;
  position: relative;
}

.title::after {
  content: '';
  position: absolute;
  width: 20%;
  height: 2px;
  background-image: linear-gradient(to left, transparent 5%, orange);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.teamrow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.flex {
  display: flex;
}

.teammember {
  flex: 1;
  margin: 20px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  max-width: 300px;
  transition: all 0.3s;
  background-color: var(--color-secondary);
  border-radius: 5%;
}

.teammember:hover {
  box-shadow: 0 10px 20px rgba(0 0 0 / 10%);
  transform: translateY(-20px);
}

.teammember img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid orange;
  border-radius: 50%;
  margin: 0 auto;
}

.teammember h2 {
  text-transform: uppercase;
  font-size: 24px;
  color: var(--color-primary);
  line-height: 1.6;
}
