*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-primary: #ff7e21;
  --color-secondary: #000;
  --color-tertiary: white;
  --color-background: #ededed;
  --color-text-primary: #000;
  --color-text-secondary: white;

  /* Typography */
  --font-primary: 'Roboto', sans-serif;
  --font-text: 'Roboto', sans-serif;

  /* Misc */
  --border-radius: 20px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-background);
}
