.wrapper {
  background-color: var(--color-secondary);
  font-family: var(--font-headline);
}

.wrapper h2,
h3,
p {
  text-align: left;
}

.container {
  display: grid;
  grid-template-areas:
    'p p d d'
    '. m d d'
    'a . d d';
  background: var(--color-primary);
  color: var(--color-secondary);
  padding: 30px;
}

.publicity {
  grid-area: p;
}

.MobileView {
  grid-area: m;
  justify-items: left;
}

.DesktopView {
  grid-area: d;
}

.application {
  grid-area: a;
  text-decoration: none;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  text-align: center;
  line-height: 2.9rem;
  width: 75%;
  height: 3rem;
  border-radius: 5px;
  font-size: 20px;
  font-family: var(--font-headline);
  cursor: pointer;
}

.application:hover {
  background: linear-gradient(135deg, orange, #ededed);
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 850px) {
  .container {
    grid-template-areas:
      'p m m m'
      '. . . .'
      'd d . .'
      'a a . .';
    gap: 10px;
  }

  .DesktopView {
    grid-area: d;
    width: 300px;
  }
}
